/* ---- grid ---- */

.grid {
    background: #DDD;
    width: calc(100% + 1px);
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

//http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/